@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {

  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}




@import "tailwindcss";

@plugin "daisyui" {


}




.my-btn {
  background: linear-gradient(135deg, #960ae7, #6366F1);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  transition: 0.3s ease;
  border-radius: 0.375rem;
}

.my-btn:hover {
  background-color: #960ae7;
  border-color: #1C96E1;
}

.my-btn-outline {
  color: #1EA1F1;
  border-color: #960ae7;
  background-color: transparent;
  border-radius: 0.375rem;
}

.my-btn-outline:hover {
  background-color: #aaa59d;
  color: #FFFFFF;
}



.active {
  @apply text-primary font-bold;
}