@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {

  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}




@import "tailwindcss";

@plugin "daisyui" {
  themes: light, dark;
}



.my-text-primary {
  @apply text-[#0b63bb];
}
.my-text-secondary {
  @apply text-[#ff9900];
}
.my-text-accent {
  @apply text-[#ffcc66];
}

.info{
  @apply text-[#17a2b8];
}
.success{
  @apply text-[#28a745];
}
.warning{
  @apply text-[#ffc107];
}
.error{
  @apply text-[#dc3545];
}
.border-primary {
  @apply border-[#003366];
}

.my-bg-primary {
  @apply bg-[#003366];
}
.my-bg-secondary {
  @apply bg-[#ff9900];
}
.my-bg-accent {
  @apply bg-[#ffcc66];
}
.my-bg-base {
  @apply bg-[#f5f5f5];
} 



.my-btn-primary {

  @apply bg-[#003366] text-[#ffffff];

}

.my-btn-secondary {
  @apply bg-[#ff9900] text-[#ffffff];
}

.my-btn-outline {
  @apply border-[#003366] text-[#003366];
}

.my-btn-small {
  @apply text-sm px-3 py-1;
}
.my-btn-neutral {
  @apply bg-[#f5f5f5] text-[#003366];
}










.active {
  color: #ff9900;
  font-weight: bold;
}

