@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {

  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}




@import "tailwindcss";

@plugin "daisyui" {
  /* primary: #7C3AED;
  secondary: #F59E0B; */
  --color-base-100: oklch(98% 0.02 300);
  /* Soft lavender white */
  --color-base-200: oklch(95% 0.04 300);
  --color-base-300: oklch(90% 0.06 300);
  --color-base-content: oklch(22% 0.05 300);
  /* Deep violet-gray text */

  --color-primary: oklch(60% 0.25 305);
  /* Main StudyMate purple */
  --color-primary-content: oklch(98% 0.01 305);

  --color-secondary: oklch(68% 0.22 280);
  /* Indigo-blue accent */
  --color-secondary-content: oklch(98% 0.01 280);

  --color-accent: oklch(65% 0.23 320);
  /* Pinkish violet accent */
  --color-accent-content: oklch(98% 0.01 320);

  --color-neutral: oklch(48% 0.04 300);
  /* Subtle neutral tone */
  --color-neutral-content: oklch(98% 0.01 300);

  --color-info: oklch(70% 0.18 280);
  /* Calm indigo info */
  --color-info-content: oklch(98% 0.01 280);

  --color-success: oklch(65% 0.25 150);
  /* Soft green success */
  --color-success-content: oklch(98% 0.01 150);

  --color-warning: oklch(78% 0.25 85);
  /* Goldish yellow warning */
  --color-warning-content: oklch(22% 0.05 85);

  --color-error: oklch(63% 0.3 30);
  /* Warm reddish error */
  --color-error-content: oklch(98% 0.01 30);

}




.btn {
  background: linear-gradient(135deg, #960ae7, #6366F1);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  transition: 0.3s ease;
  border-radius: 0.375rem;
}

.btn:hover {
  background-color: #960ae7;
  border-color: #1C96E1;
}

.btn-outline {
  color: #1EA1F1;
  border-color: #960ae7;
  background-color: transparent;
  border-radius: 0.375rem;
}

.btn-outline:hover {
  background-color: #aaa59d;
  color: #FFFFFF;
}



.active {
  @apply text-primary font-bold;
}